* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-grey-1: #2e2e2e;
  --white-1: #ffffff;
  --grey-1: #f1f1f1;
  --grey-2: #9f9f9f; 
  --black-1: #1a1a1a;
}

.container {
  margin: auto;
  width: 960px;
}

.top-bar {
  width: 100%;
  background-color: var(--dark-grey-1);
  display: flex;

}

.sign-up {
  width: 265px;
  float: left;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
}


.sign-up ul {
    display: flex;
    justify-content: space-evenly;  
    font-size: 12px;  
    list-style-type: none;
}

.sign-up a {
    text-decoration: none;
    color: var(--grey-2);

}

.social {
  width: 225px;
  float: right;
  margin: 12px;
  margin-right: 0px;
}

.social ul {
    list-style-type: none;
}
.social li{
    float: left;
    margin-right: 8px;
    width: 40px;
    height: 40px;
    background-color: #787878;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    

}

.social a {
    text-decoration: none;
}

.social img {
    width: 100%;
    height: auto;
}
.logo-background {
    background-color: #db27bd;
    width: 30px;
    border-radius: 50%;
    margin-right: 8px;
    padding: 60px;
}
.social ul {
    display: flex;
    justify-content: space-evenly;
}

.header {
  width: 100%;
  background-color: var(--white-1);
}

.slider {
  width: 100%;
  background-color: var(--grey-1);
}

.intro {
  width: 100%;
  background-color: var(--white-1);
}

.advertisment {
  width: 100%;
  background-color: var(--white-1);
}

.footer {
  width: 100%;
}

.copyright {
  width: 100%;
  background-color: var(--black-1);
}
